/* graphics.css */
.graphics-container {
  overflow-x: auto; /* Habilitar el scroll horizontal */
  min-width: 300px; /* Tamaño mínimo para el contenedor */
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.graphics-title{
  display: flex;
  justify-content: center;
}

.barchart-custom {
  min-width: 600px;
}

.generated-text{
  background-color: #00545f;
  color: aliceblue;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}