.comments-summary {
  display: flex;
  flex-direction: column;
  font-size: large;
  /* border: 1px solid #00ff15; */
  /* background-color: #3f8d0b; */
}

.first-comments-summary {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  background-color: #ffffff;
  flex-wrap: wrap;
}

.second-comments-summary {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  /* background-color: #023dbb; */
  flex-wrap: wrap;
}

.comments-card-summary {
  width: 20%;
  height: 120px;
  min-width: 150px;
  border-radius: 5px;
  padding: 20px;
  margin: 5px;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.rating-card {
  height: 120px;
  min-width: 240px;
  max-width: 300px;
  border-radius: 5px;
  padding: 20px;
  margin: 5px;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.pie-chart-container {
  min-width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 0 5px;
  border-radius: 5px;
}

.total-comments {
  background-color: orange;
}

.total-value {
  font-weight: bold;
}

.positive-comments {
  background-color: #00545f;
}

.neutral-comments {
  background-color: #313131;
}

.negative-comments {
  background-color: #5c1313;
}

@media (min-width: 1024px) {
  .second-comments-summary {
    padding-right: 20%;
    padding-left: 20%;
  }
}
